$yellow: rgb(255,189,66);

$black: rgb(3,3,3);

$form-grey: rgb(28,28,28);

$footer-grey: rgb(35,35,35);

$contact-grey: rgb(47,47,47);

$white: rgb(255,255,255);

$light-grey:rgb(244,244,244);

$button-grey: rgb(236,236,236);

$text-grey: rgb(164,164,164);